<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sonsie+One&family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin/manageAddress.css">
     <title>User Profile</title>
    
</head>
<body>
    {{>userMainHeader}}
    <div  class="container-fluid main-cont">
        <div class="row">
                 <div class=" admin-option">
                
                    <dir class="  admin-profile">
                        <img class="admin-logo" src="/images/Icons/profile-1-Buw.png" alt="">
                        <p class="user-name">{{userData.first_name}}</p>
                    </dir>
                    <dir class=" admin-categories">
                        <div class="category"><a href="/user/getUserProfile">User Information</a></div>
                        <div class="category"><a href="/user/getpages?from=getMyOrder">My Order</a> </div>
                        <div class="category"> <a href="/user/getManageAddress?from=getManage">Manage Address</a></div>
                        <div class="category"><a href="/user/getpages?from=wallet">Wallet</a></div>
                        <div  class="category"> <a href="/user/logOut">Log Out</a></div>
                        <div style="display: none"; class="category"> <a href="">Category</a></div>
                        <div style="display: none"; class="category"> <a href="">Orders</a></div>
                        <div style="display: none"; class="category"> <a href="">Coupen</a></div>
                        <div style="display: none"; class="category"> <a href="">Banner</a></div>
                        <div style="display: none"; class="category"><a href="">Brand</a></div>
                    </dir>
                   

                </div>
            
                <div  class="main-content">
                    <div style="height: 25%;width: 100%;" class="col-12">
                        <div style="" class="col-12 titleBox">
                                <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">MANAGE ADDRESS</h3>
                        </div>
                        <div class="col-8" style="height:16%;width: 100%;">
                            {{#if addressAdded}}
                                <div class="alert alert-success" role="alert">
                                    {{addressAdded}}
                                </div>
                            {{/if}}
                            {{#if setAddress}}
                                        <div class="alert alert-success" role="alert">
                                            {{setAddress}}
                                        </div>
                                
                            {{/if}}
                            {{#if editedInfo}}
                                <div class="alert alert-success" role="alert">
                                    {{editedInfo}}
                                </div>
                            {{/if}}
                            {{#if deleteAddress}}
                                <div class="alert alert-danger" role="alert">
                                    {{deleteAddress}}
                                </div>
                            {{/if}}
                        </div>
                        <div  class="col-12 addBox">
                            <button  class="addBtn" ><a href="/user/getManageAddress?from=addAddress">+ Add Address</a></button>
                        </div>
                    </div>
                   
                    <div style="height: 65%;width: 100%;" class="col-12">
                        <div class="addressBox">
                            <div   class="col-12 addressBoxInnerContainer">
                                <div class="row" style="width: 100%;height: 100%;padding: 0;margin:0 ;">
                                    <a href="" id="userId" hidden>{{getAddress.UserId}}</a>
                                    {{#each getAddress.address}}
                                    <div class="col-12 optionBox" >
                                        <div class="row" style="width: 100%;height: 100%;justify-content: space-between;">
                                            <div class="col-8" style="height: 10%;"></div>
                                            <div class="col-2" style="height: 100%;">
                                                {{#if this.status}}
                                                <a href=""><img class="select" style="width: 25%;" src="/images/Icons/check.png" alt="****"
                                                        data-address-id="{{this._id}}"></a>
                                                {{else}}
                                                <a href=""><img class="select" style="width: 25%;" src="/images/Icons/add.png" alt="*" data-address-id="{{this._id}}"></a>
                                                {{/if}}
                                                
                                                <a href="/user/getManageAddress?Id={{this._id}}&from=editAddress"><img style="width: 20%;" src="/images/Icons/edit.png" alt="-"></a>
                                                
                                                <a class="dlt-botton"  ><img style="width: 20%;" src="/images/Icons/delete.png"  onclick="deleteAddress('{{this._id}}')"   alt="+"></a>
                                                
                                                
                                                
                                                
                                                
                                            </div>

                                        </div>
                                        

                                        
                                    </div>
                                    
                                    <div class="col-12" style="height: 80%;width: 100%;">
                                        <h3>{{this.Name}}</h3>
                                        <p> Mobile: {{this.Mobile}}, Email:{{this.Email}}</p>
    
                                        <P>{{this.Address}}</P>
                                        <hr style="background-color: rgb(97, 97, 97); margin-top: 5%;">
                                    </div>
                                    
                                    {{/each}}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <footer style="z-index:1 ; border-top: 1px solid black; margin-top: 100px;" class="footer">
        
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/">
                                <h1 class="m-fashion-logo">M-fashion</h1>
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.</p>

                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">

                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/addressManagementOtpion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


