<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TransactionComplted</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/transactionCompletion.css">
    <link rel="stylesheet" href="/css/landing/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/landing/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/landing/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/landing/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/landing/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/landing/style2.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>


    <!-- Header Section Begin -->
    {{> headerPartial}}
    <!-- Header Section End -->
    <div class="row first-row">
        <div class="col-9 main-content">
            <div class="col-12 titile-box">
                <h2>Transaction Details</h2>
            </div>
            <div style="" class="continer-fuid main-cont-inner">
                <div  class="col-12 address " > 
                    <div style="padding: 0;" class="col-12 successMessage">
                    <div class="col-12" style="height: 75%;background-color:rgb(16, 203, 16);display: flex;justify-content: center;align-items: center;">
                        <h2>Order Placed Successfully</h2>
                    </div>
                    <div class="col-12" style="height:25% ;display: flex;justify-content: center;align-items: center;background-color:rgb(16, 203, 16); ;">
                        <button id="home" style="padding:10px 50px;margin-right: 30px;border: none;border-radius: 10px;">Go Home</button>
                        <button data-id="{{this._id}}" id="order-history" style="padding:10px 50px ;border: none;border-radius: 10px;" >Go To Orders</button>
                    </div>
                    </div>
                    <div class="address-box">

                            <div style="" class="col-2 button-box">
                               <h5>Billed Address</h5>
                            
                            </div>
                        <div style="" class="col-10 address-inner-box">
                            <h3 style="margin-top: 2%;font-weight: bolder;">{{orderData.[0].address.Name}}</h3>
                            <p style="color: black;margin-top: 1%;">Phone:{{orderData.[0].address.Mobile}}&nbsp;&nbsp;&nbsp;Aleternative mobile:{{orderData.[0].address.Aleternative_mobile}} </p>
                            <p style="color: black;margin-top: 1%;" >Town:{{orderData.[0].address.Town}}&nbsp;&nbsp;Locality:{{orderData.[0].address.Locality}}&nbsp;&nbsp;Land mark:{{orderData.[0].address.Land_mark}}</p>
                            <p style="color: black;margin-top: 1%;" >Adress:{{orderData.[0].address.Address}}</p>
                        </div>

                       
                        

                        
                    </div>
                <div style="height: 50px;width:80%;margin-top: 2%; ">
                
                </div>
                </div>
               
                <div id="oderId" class="col-11  order" >
                    <div style="height:100px;display: flex;justify-content: center;align-items: center;" class="col-12">
                        <h2>Order Detail</h2>
                    </div>
                    <div hidden id="order-id" class="col-5" data-id="{{orderData.[0]._id}}"  style="height: 30px margin-bottom: 10px;font">
                        OrderID:{{orderData.[0]._id}}
                    </div>
                    <div class="col-12" style="height: 300px;overflow: auto;">

                    <table style="background-color: rgb(233, 233, 233);min-width: 100%;">
                       <thead style="border-bottom: 1px solid rgb(144, 143, 143);">
                        <tr>
                            <th>NO</th>
                            <th >Product</th>
                            <th style="width: 30%;">Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                       </thead>
                        <tbody>
                            {{#each ProductData}}
                            <tr>
                                
                                <td>{{increment @index}}</td>
                                <td><img style="width: 100px;" src="{{this.ProductDetails.images.path.[0]}}" alt=""></td>
                                <td class="name">{{this.ProductDetails.Name}}</th>
                                <td class='price'>{{this.Order.price}}</td>
                                <td class='quatity'>{{this.Order.quantity}}</td>
                                <td class="All-total">{{this.Order.total}}</td>                         
                                <input class="IDs" type="text" value="{{this.Products._id}}" data-Size="{{this.Size}}" data-Color="{{this.Color}}"data-CartID="{{this._id}}" data-Price="{{this.Price}}"  hidden>
                            </tr>
                            {{/each}}
                        
                        </tbody>
                    </table>
                    </div>
                </div>
                
            </div>
        

        </div>
        <div class="col-3 billing-colum">
            <div style="width: 100%;height: 50%;background-color: rgb(226, 226, 226);margin-top: 23%;">
                <div style="height: 10%;display: flex;justify-content: center;align-items: center;" class="col-12">
                    <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">Your Order</h2>
                    
                </div>
                <div style="height: 80%;" class="col-12">
                    
                    <table>
                        <thead>
                            <tr>
                                <th  style="padding-left:1px ;color:#880606">Sub Totoal</th>
                                <th id="add-sub-total" style="padding-left: 120px; color: black;">{{orderData.[0].SubTotal}}</th>
                                
                            </tr>
                            <tr >
                                <th class="final-order-heading" >Discount</th>
                                <th id="discount" style="padding-left: 120px;padding-top:20px;color: black    ;">{{orderData.[0].Discount}}</th>
                            
                            </tr>
                            <tr style="border-bottom: 1px solid rgb(181, 179, 179);">
                                <th class="final-order-heading">Shipping Charge</th>
                                <th id="shipping-charge" style="padding-left: 120px;padding-top:20px;color: black    ;">60</th>
                            
                            </tr>
                            <tr style="border-bottom: 1px solid rgb(181, 179, 179);;">
                                
                                <th class="final-order-heading">Total</th>
                                <th id="Total" style="padding-left: 120px;padding-top:30px;color: black    ;">{{orderData.[0].TotalOrderPrice}}</th>
                                
                            </tr>
                            
                            </tr>
                            <tr>
                                {{!-- {{#isEqual {{orderData.[0].PaymentOption}} 'Cash on delevery'}} --}}
                            <hr>
                                <th class="final-order-heading">Payment </th>
                                <th style="text-align: end;padding-top:30px;color: black    ;word-break   ;">{{orderData.[0].PaymentOption}}</th>
                            
                            </tr>
                            
                            {{!-- {{/isEqual}} --}}
                        </thead>
                    </table>
                    
                    
                </div>
            </div>
        </div>
    </div>


    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.</p>
                        <div class="footer__payment">
                            <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form" method="#">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    {{!-- <script src="/js/transactionCompletion.js"></script> --}}
    <script src="/js/temp/jquery-3.3.1.min.js"></script>
    <script src="/js/temp/bootstrap.min.js"></script>
    <script src="/js/temp/jquery.magnific-popup.min.js"></script>
    <script src="/js/temp/jquery-ui.min.js"></script>
    <script src="/js/temp/mixitup.min.js"></script>
    <script src="/js/temp/jquery.countdown.min.js"></script>
    <script src="/js/temp/jquery.slicknav.js"></script>
    <script src="/js/temp/owl.carousel.min.js"></script>
    <script src="/js/temp/jquery.nicescroll.min.js"></script>
    <script src="/js/temp/main.js"></script>

    <script src="/js/transactionFailed.js" ></script>
    
</body>

</html>