<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sonsie+One&family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin/userProfile.css">
     <title>User Profile</title>
    
</head>
<body>
  {{> userMainHeader}}
    <div class="container-fluid main-cont">
        <div class="row">
                 <div class=" admin-option">
                
                    <dir class="  admin-profile">
                        <img class="admin-logo" src="/images/Icons/profile-1-Buw.png" alt="">
                        <p class="user-name">{{userData.first_name}}</p>
                    </dir>
                    <dir class=" admin-categories">
                        <div class="category"><a >User Information</a></div>
                        <div class="category"><a href="/user/getpages?from=getMyOrder">My Order</a> </div>
                        <div class="category"> <a href="/user/getManageAddress?from=getManage">Manage Address</a></div>
                        <div class="category"><a href="/user/getpages?from=wallet">Wallet</a></div>
                        <div  class="category"> <a href="/user/logOut">Log Out</a></div>
                        <div style="display: none;"  class="category"> <a href=""></a></div>
                        <div style="display: none;"  class="category"> <a href=""></a></div>
                        <div style="display: none;"  class="category"> <a href=""></a></div>
                        <div style="display: none;"  class="category"> <a href=""></a></div>
                        <div   class="category-last"><a href=""></a></div>
                    </dir>
             

                </div>
                <div  class="main-content">
                <div style="height: 55%;width: 100%;border:1px solid black" class="col-12">
                    <div   class="col-12 titile">
                        <h1 id="user-heading">User Information</h1>
                    </div>
                    <div style="height: 9%;width:50%;">
                        {{#if updatedMessage}}
                            <div class="alert alert-primary" role="alert">
                                {{updatedMessage}}
                            </div>
                        {{/if}}
                        <p id="message" style="color: red;font-size: 20px;"></p>
                    </div>
                    <div style="height:71%;width: 100%; " class="col-12">
                        {{!--  --}}
                        <form class="form" method="post"action="/user/updateUserProfile?_method=PUT&from=profileInfo" onsubmit="return personalInformation()"   >
                        <input id="form3Example1m" class="f-name-inp" type="text" value="{{userData.first_name}}" placeholder="First Name" minlength="3" maxlength="10"  name="first_name">
                        <input id="form3Example1n" class="s-name-inp" type="text" value="{{userData.second_name}}" placeholder="Second Name" minlength="1" maxlength="10" name='second_name'>
                        <input id="emailId" class="email-inp" type="text" value="{{userData.Email}}" placeholder="Email" name="email">
                        <input id="form3Example9"  class="phone-number-inp" type="number" value="{{userData.phone_Number}}" placeholder="Phone Number" name="phone_number" required max="999999999999999" min="1000000000">
                        <input  class="info-sub" type="Submit">
                        </form>
                    </div>
                </div>
                <div   class="col-12 passwordBox">
                    <div  class="col-12 passwordTitile">
                        <h4>Password Change</h4>
                    </div>
                    <div style="height: 10%;width: 50%;">
                        {{#if passwordUpdMessage}}
                            <div class="alert alert-success" role="alert">
                                {{passwordUpdMessage}}
                            </div>
                        {{/if}}
                        {{#if dltMessaged}}
                        <p style="color: red;font-size: 20px;" id="messageToPassword">{{dltMessaged}}</p>
                        {{/if}}
                        <p style="color: red;font-size: 20px;" id="messageToPassword"></p>
                    </div>
                    <div style="height: 80%;width: 100%;" class="col-12">
                        <form  class="form" method="post" action="/user/updateUserProfile?_method=PUT&from=passwordChange" onsubmit="return validatePassword()">
                            <input id="form3Example21"  class="old-pass-inp" type="password" placeholder="Old Password" name="oldPassword">
                            <input id="form3Example10" class="new-pass-inp" type="password" placeholder="New Password" name="newPassword">
                            <input id="form3Example11" class="conform-pass-inp" type="password" placeholder="Conform Passowrd" name="ConformPassword">
                            <a href="/user/log-in/forgot">Forgot Password</a>
                            <input class="info-sub" type="Submit">
                        </form>
                    </div>
                </div>
                </div>
            
                
    
            </div>
            </div>
            
               
                       
        </div>

    </div>
    {{>footer}}
    <script src="/js/ProfileInfo.js"></script>
    <script src="/js/validateForm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>


